	
		
		
		.numPage{
		  font:italic .8em calibri light !important;   
		  text-align:center; 	  
		}


		.numPageArabe{
		  font:normal .5em calibri light !important;  
		  text-align:center ; 
		}
		
		.numSourate{
			font-family:Amiri; 
			font-size:.5em;			
		}
		.numJuzHizb{
			box-shadow:inset 0 0 10px gray; 
			padding:.6em 0 0 0;
            border: .1rem solid #ddd; 			
		}

		.hizb{
		  border: thick double gray;
		  border-radius:50px; 
	
		  padding:.8em .4em .4em 1em;
		  width:3.9em;
		  height:4.4em;
		  line-height:.8;
		  font-size:.5em;
          text-align:center;		  
		  display:inline-block; 
		  position:relative; 
		  float:right; 
		  margin-right:-5em;
		  background:white;
		  box-shadow:
		  0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
          0px 2px 2px 0px rgba(255, 255, 255, 0.5) ;
		  
		   border-top-image: url('img/test.png') !important;
		}
		.quart{
		   padding-right:.7em !important; 
		   padding-top:0 !important;
		}
		.nisf{
		  padding-right:.7em !important; 
		  padding-top:.3em !important;
		}
		.sajadat1, .sajadat2{
		   padding:0; box-shadow:none; border-bottom:none; outline:none; margin-top:-3em; width:2em; float:left; margin-left:-.5em; border-radius:100% 50000% 0% 0%;   filter:opacity( 20%);
		}
		.sajadat2{
		    border-top:none;  margin-top:1.2em;    border-radius:0% 0% 50000% 100% ;  
		}
		hr.juz9a:after, hr.juz9f:after, hr.juz26a:after, hr.juz26f:after, hr.juz30a:after, hr.juz30f:after, 
		hr.hizb60a:after, hr.hizb60f:after,
		hr.s98a:after, hr.s98f:after, hr.s99a:after, hr.s99f:after, hr.s100a:after, hr.s100f:after, hr.s101a:after, hr.s101f:after, hr.s102a:after, hr.s102f:after, hr.s104a:after, hr.s104f:after, hr.s105a:after, hr.s105f:after, hr.s107a:after, hr.s107f:after, hr.s108a:after, hr.s108f:after, hr.s110a:after, hr.s110f:after, hr.s111a:after, hr.s111f:after, hr.s112a:after, hr.s112f:after, hr.s113a:after, hr.s113f:after, hr.s114a:after, hr.s114f:after,
		hr.v98a:after, hr.v98f:after, hr.v99a:after, hr.v99f:after, hr.v100a:after, hr.v100f:after, hr.v101a:after, hr.v101f:after, hr.v102a:after, hr.v102f:after, hr.v104a:after, hr.v104f:after, hr.v105a:after, hr.v105f:after, hr.v107a:after, hr.v107f:after, hr.v108a:after, hr.v108f:after, hr.v110a:after, hr.v110f:after, hr.v111a:after, hr.v111f:after, hr.v112a:after, hr.v112f:after, hr.v113a:after, hr.v113f:after, hr.v114a:after, hr.v114f:after
		{
		   content:"الجزء  ٩"!important; 
		   color: black; 
		   font-size:.7em; 
		   font-style:normal; 
		   font-family:Amiri; 
		   line-height:1.5;
		   
		   letter-spacing:-.1em;
		   font-stretch:ultra-condensed ; 
		   vertical-align: top;
		   
		   /* juste un test pour style les numero des juz horizontales */
		   border:1px solid gray;
		   border-radius:99px;
		   box-shadow:0px 8px 6px -2px gray;
		   margin-right:-0.5em;
		   padding-bottom:-2em !important;		   
		}
		hr.juz9f:after{ 
		   content:"\000020 \000020 Juz-09 "!important;
		   font-stretch:expanded; 
           letter-spacing:-.1em;       
		   white-space: pre;            		   
		}
		hr.juz26a:after{ content:"الجزء ٢٦"!important; }
		hr.juz26f:after{ content:" \000020 \000020 Juz-26"!important; }
		hr.juz30a:after{ content:"الجزء ٣٠"!important;  border-bottom:none;  }
		hr.juz30f:after{ content:" \000020 \000020 Juz-30"!important;  border-bottom:none;  }
		
		hr.hizb60a:after{ content:"الحزب٦٠"!important; font-size:.6em; border:none; }
		hr.hizb60f:after{ content:" \000020 \000020 Hizb-60"!important; font-size:.6em;  border:none; }
		
		hr.s98a:after{ content:"ترتيبها ٩٨"!important; font-weight:normal;   }
		hr.s99a:after{ content:"ترتيبها ٩٩"!important; font-weight:normal;   }
		hr.s100a:after{ content:"ترتيبها١٠٠"!important; font-weight:normal;   }
		hr.s101a:after{ content:"ترتيبها١٠١"!important; font-weight:normal;   }
		hr.s102a:after{ content:"ترتيبها١٠٢"!important; font-weight:normal;   }
		hr.s104a:after{ content:"ترتيبها١٠٤"!important; font-weight:normal;   }
		hr.s105a:after{ content:"ترتيبها١٠٥"!important; font-weight:normal;   }
		hr.s107a:after{ content:"ترتيبها١٠٧"!important; font-weight:normal;   }
		hr.s108a:after{ content:"ترتيبها١٠٨"!important; font-weight:normal;   }
		hr.s110a:after{ content:"ترتيبها١١٠"!important; font-weight:normal;   }
		hr.s111a:after{ content:"ترتيبها١١١"!important; font-weight:normal;   }
		hr.s112a:after{ content:"ترتيبها١١٢"!important; font-weight:normal;   }
		hr.s113a:after{ content:"ترتيبها١١٣"!important; font-weight:normal;   }
		hr.s114a:after{ content:"ترتيبها١١٤"!important; font-weight:normal;   }
		
		hr.s98f:after{ content:" \000020 \000020 S-98."!important; }
		hr.s99f:after{ content:" \000020 \000020 S-99."!important; }
		hr.s100f:after{ content:" \000020 \000020 S-100."!important; }
		hr.s101f:after{ content:" \000020 \000020 S-101."!important; }
		hr.s102f:after{ content:" \000020 \000020 S-102."!important; }
		hr.s104f:after{ content:" \000020 \000020 S-104."!important; }
		hr.s105f:after{ content:" \000020 \000020 S-105."!important; }
		hr.s107f:after{ content:" \000020 \000020 S-107."!important; }
		hr.s108f:after{ content:" \000020 \000020 S-108."!important; }
		hr.s110f:after{ content:" \000020 \000020 S-110."!important; }
		hr.s111f:after{ content:" \000020 \000020 S-111."!important; }
		hr.s112f:after{ content:" \000020 \000020 S-112."!important; }
		hr.s113f:after{ content:" \000020 \000020 S-113."!important; }
		hr.s114f:after{ content:" \000020 \000020 S-114."!important; }
		
		hr.v98a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v99a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v100a:after{ content:"آياتها١١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v101a:after{ content:"آياتها١١"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v102a:after{ content:"آياتها ٨"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v104a:after{ content:"آياتها ٩"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v105a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v107a:after{ content:"آياتها ٧"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v108a:after{ content:"آياتها ٣"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v110a:after{ content:"آياتها ٣"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v111a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v112a:after{ content:"آياتها ٤"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v113a:after{ content:"آياتها ٥"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		hr.v114a:after{ content:"آياتها ٦"!important; font-weight:normal; padding-left:.2em; padding-right:.7em;  }
		
		hr.v98f:after{ content:"8 Vrset"!important; }
		hr.v99f:after{ content:"8 Vrset"!important; }
		hr.v100f:after{ content:"11Vrset"!important; }
		hr.v101f:after{ content:"11Vrset"!important; }
		hr.v102f:after{ content:"8 Vrset"!important; }
		hr.v104f:after{ content:"9 Vrset"!important; }
		hr.v105f:after{ content:"5 Vrset"!important; }
		hr.v107f:after{ content:"7 Vrset"!important; }
		hr.v108f:after{ content:"3 Vrset"!important; }
		hr.v110f:after{ content:"3 Vrset"!important; }
		hr.v111f:after{ content:"5 Vrset"!important; }
		hr.v112f:after{ content:"4 Vrset"!important; }
		hr.v113f:after{ content:"5 Vrset"!important; }
		hr.v114f:after{ content:"6 Vrset"!important; }